.config/tmux/plugins/
**/lazy-lock.json
astro/
go/
.config/systemd/
.config/httpie/
.config/mimeapps.list
.config/freerdp/known_hosts2
.config/wslu/triggered_time
/.config/github-copilot
/.pi/agent/tmp/extensions
/.pi/agent/trust.json
*auth.json
/.pi/agent/sessions
/.pi/agent/npm
/.pi/agent/mcp-auth
/.pi/agent/git
/.pi/pi-acp
/.pi/agent/mcp-cache.json
/.pi/agent/mcp-oauth
